<div class="container">
    <button (click)="navigateHome()">Go to home</button>
    <div class="about-section">
      <h1>About Us Page</h1>
      <p>StackRoute Times is a multifaceted digital media company dedicated to helping consumers, business leaders and policy officials make important decisions in their lives. We use world-class data and technology to publish independent reporting, rankings, journalism and advice that has earned the trust of our readers and users for nearly 90 years. Our platforms on usnews.com include Education, Health, Money, Travel, Cars, News and 360 Reviews.

        We reach more than 40 million people monthly during moments when they are most in need of expert advice and motivated to act on that advice directly on our platforms. Our signature franchises include our “Best” series of consumer guides on colleges, graduate schools, hospitals, diets, cars, financial services and more. These guides provide an easy-to-digest list for consumers to better understand and compare when making their decisions. We continue to publish annual guides of the authoritative Best Colleges and Best Hospitals rankings on our website and in print.   
        </p>
    </div>
    <div>
      <h2 style="text-align: center; margin: 10px auto">Our Team</h2>
    </div>
  
    <div>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="assets/images/team1.jpg" alt="Jane" style="width: 100%" />
            <div class="container">
              <h2>Jane Doe</h2>
              <p class="title">CEO & Founder</p>
              <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
              <p>jane&#64;example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
  
        <div class="column">
          <div class="card">
            <img src="assets/images/team2.jpg" alt="Mike" style="width: 100%" />
            <div class="container">
              <h2>Mike Ross</h2>
              <p class="title">Art Director</p>
              <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
              <p>mike&#64;example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
  
        <div class="column">
          <div class="card">
            <img src="assets/images/team3.jpg" alt="John" style="width: 100%" />
            <div class="container">
              <h2>John Doe</h2>
              <p class="title">Designer</p>
              <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
              <p>john&#64;example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
